{% extends 'base.html.twig' %}

{% block body %}
    <h1>Редактирование записи</h1>

    {{ form_start(entryForm) }}
    {{ form_widget(entryForm) }}
    <button type="submit">Сохранить</button>
    {{ form_end(entryForm) }}

    <a href="{{ path('admin_dashboard') }}">Вернуться к списку</a>
{% endblock %}
