{% extends 'base.html.twig' %}

{% block title %}Новая заявка{% endblock %}

{% block body %}
    <h1>Создать новую заявку</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}
